* {
  scroll-behavior: smooth;
}

.landing-sub-title {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 35px;
}

.text-shadow-style {
  text-shadow: 2px 2px black;
}

.footer-link {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 25px;
  color: orange;
}

@media (min-width: 600px) {
  .landing-sub-title {
    font-size: 50px;
  }
}
